body {
    background: #020617;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 30px;
}

/* TITRES */
h1 {
    color: #38bdf8;
}

h2 {
    color: #38bdf8;
}

h3 {
    color: #7dd3fc;
}

/* SECTIONS */
section {
    background: #0f172a;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

/* LISTES */
ul {
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

/* LIENS */
a {
    color: #00ffd5;
    text-decoration: none;
}

a:hover {
    color: #00bfa6;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    color: #7dd3fc;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00ffd5;
}

p {
    margin-bottom: 15px;
}

section {
    line-height: 1.8;
}

p {
    margin-bottom: 15px;
}

section p {
    margin-bottom: 12px;
}

h2 {
    margin-top: 25px;
}